@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --gray-300: #d1d5db;
    --slate-700: #334155;
    --cyan-600: #0f172a;
    --neutral-500: #737373;
}

body {
    font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
    background-color: var(--cyan-600);
    color: white;
    padding-left: 20px; /* TODO: Figure out how to make max and minsize */
    padding-right: 40px;
    display: grid;
    grid-template-rows: auto auto 1fr;
}

.dashboard-title {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}

.dashboard-title img {
    filter: invert(100%);
    width: 50px;
}

.dashboard-list img {
    filter: invert(100%);
    width: 30px;
}

.dashboard-item {
    display: flex;
    gap: 20px;
}

.dashboard-list {
    margin-top: 20px;
}

/* Begin main */
.main {
    display: grid;
    grid-template-rows: 1fr 7fr;
}


/* Header */
.header {
    display: grid;
    grid-template-rows: auto 1fr; /* Navbar horizontal | profile banner horizontal */
    grid-template-columns: 2fr 1fr; /* Search icon, input bar, and hi there | Right-side */
    padding: 10px 20px 20px 30px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}

.header .search-container { /* Instead of a navigation bar container on top, can use grid and header for both */
    display: flex;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    align-items: center;
    gap: 12px;
}

.header .profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header input {
    padding: 6px;
    border-radius: 25px;
    border: none;
    background-color: var(--gray-300);
    width: 100%;
}

.header .icon {
    width: 30px;
}

.header .profile-picture {
    width: 50px;
    border-radius: 25px;
}

.header p {
    font-weight: bold;
}

.banner-container {
    display: grid;
    grid-template-columns: auto 1fr; /* Image and then text */
    grid-template-rows: 1fr 1fr; /* Each row for text */
    gap: 8px 16px; /* Horizontal and then vertical */
}

.banner-container img {
    grid-row: 1 / 3;
    align-self: center;
}

.banner-container .username {
    align-self: flex-start;
}

.banner-container .greeting {
    align-self: flex-end;
}

/* Styling banner */
.banner-container img {
    width: 70px;
    border-radius: 35px;
}

.banner-container p {
    margin: 0;
    font-weight: bold;
}

.banner-container .username {
    font-size: 20px;
    font-weight: 800;
}
/* End styling banner */ 

.buttons-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.buttons-container button {
    background-color: var(--slate-700);
    color: white;
    border-radius: 25px;
    width: 90px;
    height: 40px;
    border: none;
}

/* Begin main content */
.content-container {
    display: grid;
    grid-template-columns: 70% 30%;
    background-color: var(--gray-300);
}

.content-container .projects-container {
    padding: 0 20px 0 20px;
}

.content-container .projects-container h4 {
    font-size: 20px;
}

.content-container .projects-container .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    gap: 32px 16px;
}

.content-container .projects-container .cards .card {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-left: 10px solid var(--cyan-600);
    border-radius: 20px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}

/* .content-container .projects-container .cards .card .color-block {
    background: linear-gradient(#e66465, #9198e5);
    width: 10px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    grid-row: 1 / -1; /* make it occupy whole vertical space
} 

*/

.content-container .projects-container .cards .card .card-title {
    font-weight: bold;
}

.content-container .projects-container .cards .card .card-text {
    color: var(--neutral-500);
}

.content-container .projects-container .cards .card .icon-block {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    padding: 20px;
}

.content-container .projects-container .cards .card img {
    width: 30px;
}

.content-container .projects-container .cards .card .text-block {
    padding: 20px 20px 0 20px;
}

.content-container .announcements-trends-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    width: 80%;
    padding-left: 10px;
}

.content-container .announcements-trends-container .announcements-container h4 {
    font-size: 20px;
}

.content-container .announcements-trends-container .announcements-container .announcements-card {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    background-color: white;
    border-radius: 14px;
    padding: 20px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}

.announcements-card {
    height: 75%;
}

.ann-card .ann-card-header {
    font-weight: bold;
}

.ann-card .divider {
    border: 1px solid var(--gray-300);
    margin: 10px 0;
}

.ann-card .ann-card-text {
    color: var(--neutral-500);
    font-size: 14px;
    margin-top: 4px;
}

.trends-container h4 {
    font-size: 20px;
}

.trends-card {
    background-color: white;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    border-radius: 14px;
    padding: 20px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}

.trend-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.trend-card img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.trend-card .username {
    font-weight: bold;
}

.trend-card .punchline {
    font-size: 14px;
    color: var(--neutral-500);
}