:root {
    --gold: #DAC0A3;
    --slate-700: #334155;
}

body {
    overflow: hidden;
    font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: clamp(250px, 20%, 350px) 4fr;
}

.sidebar {
    background-color: var(--slate-700);
    display: grid;
    grid-template-rows: 0.2fr 1fr 1fr;
    color: white;
}


.sidebar .dashboard-title {
    display: grid;
    color: white;
    font-weight: bold;
    align-items: center;
    justify-items: flex-start;
    grid-template-columns: 0.2fr 1fr;
    padding-left: 10px;
    padding-bottom: 30px;
    gap: 8px;
}

.sidebar .dashboard-icon {
    width: 3em;
    height: auto;
    filter: invert(100%);
}

.sidebar .header {
    font-size: 1.8em;
}

.sidebar .top-list,
.sidebar .bottom-list {
    margin-left: 20px;
}

.sidebar .list-item {
    display: grid;
    align-items: center;
    gap: 16px;
    grid-template-columns: 30px 1fr;
}

.sidebar .list-item-img {
    width: 30px;
    height: 30px;
    filter: invert(100%);
}

.top-bar {
    display: grid;
    padding: 10px 30px;
    background-color: pink;
    grid-template-columns: 2fr 1fr;
}

.top-bar .left-side {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    gap: 10px;
    margin-right: 5em;
}

.top-bar .right-side {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.top-bar input {
    border: none;
    padding: 4px;
    border-radius: 20px;
    background-color: lightgray;
}

.top-bar .search-icon,
.top-bar .notification-icon  {
    width: 30px;
    height: auto;
}

.top-bar .profile-picture {
    width: 45px;
    height: auto;
    border-radius: 50%;
}

.top-bar .profile-name {
    font-weight: bold;
    white-space: nowrap;
}